body {
    background-color: #f5f5f5;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
    overflow-y: scroll;
}
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    margin-top: 40px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
fieldset label {font-weight: bold}
.row-fluid .nav-pills {margin-bottom:0}
#pending-alert {cursor:pointer}
div.hidden{display:none}
input.date{cursor:pointer}
.table.mini{font-size:80%}
.accordion-detail .accordion-inner{max-height:200px;overflow-y:auto}
.actuacionesfiscaleswell dl{margin-right:20px}
.control-group label.normal {font-weight:normal !important}
.control-group label.normal:after {content:''}
form .text-error {font-size: 12px}
.error-message, form .form-error{color: #b94a48}
.required label:after {content: ' *'; color: red}
.top-fase {margin-bottom: 0}
#anexos-adjuntos-recibir form, #anexos-adjuntos form {margin-bottom: 0}
table th.text-center {text-align: center !important}
#ReporteConsolidadoForm input,#ReporteConsolidadoForm select {font-size: 90%}
.obj { display: inline-block; left: 2em; position: relative; margin-bottom: 10px;}
.search-div .submit { display: inline-block }